<!DOCTYPE html>
<html lang="{{ or .Site.Language.Lang "ja" }}">

<head>
  {{- partial "head.html" . -}}
  {{ block "meta_tags" . }}{{end}}
</head>

<body class="flex flex-col min-h-screen">
  <main class="flex-grow">
    {{- partial "header.html" . -}}
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}

  <!-- Back to Top Button -->
  <button class="scroll-top fixed bottom-6 right-6 bg-yellow-500 text-black font-bold py-2 px-3 rounded-full shadow-lg hidden">
    ↑
  </button>
</body>

</html>
